[submodule "third_party/SPIRV-Reflect"]
	path = third_party/SPIRV-Reflect
	url = https://github.com/KhronosGroup/SPIRV-Reflect.git
	shallow = true
[submodule "third_party/nlohmann"]
	path = third_party/nlohmann
	url = https://github.com/nlohmann/json.git
	shallow = true
[submodule "third_party/miniaudio"]
	path = third_party/miniaudio
	url = https://github.com/mackron/miniaudio.git
	shallow = true
[submodule "third_party/glslang"]
	path = third_party/glslang
	url = https://github.com/KhronosGroup/glslang.git
	shallow = true
[submodule "third_party/Eigen"]
	path = third_party/Eigen
	url = https://gitlab.com/libeigen/eigen.git
	shallow = true
